/* line 1, ../sass/base/reset.scss */
body {
  margin: 0;
  color: #fff;
}

/* line 6, ../sass/base/reset.scss */
h1, h2, h3, h4, h5 {
  font-size: 1em;
  line-height: 1em;
  padding: 0;
  margin: 0;
}

/* line 13, ../sass/base/reset.scss */
ol {
  padding: 0;
  margin: 0;
}

/* line 1, ../sass/base/layout.scss */
.l-right-panel {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

/* line 3, ../sass/modules/queue.scss */
.queue {
  position: relative;
  height: 100%;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #eaeaea;
  font-family: 'Crete Round', sans-serif;
  -webkit-box-shadow: -6px 1px 6px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -6px 1px 6px 0px rgba(0, 0, 0, 0.3);
  box-shadow: -6px 1px 6px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

/* line 14, ../sass/modules/queue.scss */
.queue__titlebar {
  padding: 20px;
  font-size: 30px;
  height: 40px;
}

/* line 20, ../sass/modules/queue.scss */
.queue__close {
  float: left;
  cursor: pointer;
}

/* line 26, ../sass/modules/queue.scss */
.queue__title {
  padding-left: 120px;
  float: left;
}

/* line 31, ../sass/modules/queue.scss */
.queue__list {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}

/* line 40, ../sass/modules/queue.scss */
.queue__item {
  width: 400px;
  height: 225px;
  background-size: cover;
  position: relative;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  background-position: 0px -40px;
}

/* line 50, ../sass/modules/queue.scss */
.queue__item__user-avatar, .queue__item__delete, .queue__item__block {
  width: 60px;
  height: 60px;
}

/* line 55, ../sass/modules/queue.scss */
.queue__item__delete {
  background-color: #c0392b;
}

/* line 59, ../sass/modules/queue.scss */
.queue__item__delete:hover {
  background-color: #e74c3c;
}

/* line 63, ../sass/modules/queue.scss */
.queue__item__block {
  background-color: #2c3e50;
}

/* line 67, ../sass/modules/queue.scss */
.queue__item__block:hover {
  background-color: #34495e;
}

/* line 71, ../sass/modules/queue.scss */
.queue__item__title {
  width: 380px;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0;
  padding: 10px;
  font-size: 18px;
}

/* line 80, ../sass/modules/queue.scss */
.queue__open {
  position: absolute;
  top: 20px;
  right: 26px;
  background-image: url("../images/feedicon2.png");
  width: 72px;
  height: 62px;
  cursor: pointer;
}

/* line 91, ../sass/modules/queue.scss */
.queue__open:visited {
  text-decoration: none;
}

/* line 95, ../sass/modules/queue.scss */
.queue__open:hover {
  text-decoration: none;
}

/* line 99, ../sass/modules/queue.scss */
.queue__open:active {
  text-decoration: none;
}

/* line 103, ../sass/modules/queue.scss */
.queue__count {
  font-size: 26px;
  padding: 26px 0 0 0;
  text-align: center;
  box-sizing: border-box;
}

/* line 1, ../sass/modules/home.scss */
#home {
  background-color: rgba(22, 160, 133, 0.95);
  width: 100%;
  min-height: 100%;
  color: #fff;
}
/* line 7, ../sass/modules/home.scss */
#home h3 {
  margin-bottom: 24px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 24px;
}

/* line 14, ../sass/modules/home.scss */
#homenav {
  font-family: 'Crete Round', sans-serif;
  padding: 1px 20px;
}

/* line 18, ../sass/modules/home.scss */
#homenav h1 {
  font-size: 50px;
  margin-top: 8px;
}

/* line 22, ../sass/modules/home.scss */
#social {
  position: absolute;
  right: 0;
  top: 30px;
  width: 500px;
}
/* line 28, ../sass/modules/home.scss */
#social > * {
  float: right;
}
/* line 32, ../sass/modules/home.scss */
#social iframe {
  margin-top: -5px;
}
/* line 36, ../sass/modules/home.scss */
#social #twitter, #social #fb {
  margin-top: 2px;
}

/* line 40, ../sass/modules/home.scss */
#fb, #tweet {
  float: right;
}

/* line 43, ../sass/modules/home.scss */
#fb {
  margin-right: 20px;
}

/* line 46, ../sass/modules/home.scss */
#tweet {
  margin-right: 0px;
}

/* line 49, ../sass/modules/home.scss */
#homecontents {
  width: 1040px;
  margin: auto;
  font-family: 'Nunito', sans-serif;
}

/* line 54, ../sass/modules/home.scss */
#homeheadlines {
  text-align: center;
  font-family: 'Crete Round', sans-serif;
  font-size: 36px;
  margin-top: 40px;
  margin-bottom: 60px;
}

/* line 61, ../sass/modules/home.scss */
#homeleft {
  float: left;
  width: 50%;
  height: 360px;
}

/* line 66, ../sass/modules/home.scss */
#homeleft p {
  font-size: 20px;
}

/* line 69, ../sass/modules/home.scss */
#homeright {
  float: left;
  padding-left: 40px;
  border-left: 2px solid #eaeaea;
  width: 470px;
}

/* line 75, ../sass/modules/home.scss */
.homerightitem {
  height: 120px;
}

/* line 78, ../sass/modules/home.scss */
#homeright h3 {
  font-family: 'Crete Round', sans-serif;
  font-size: 24px;
}

/* line 82, ../sass/modules/home.scss */
#homeright p {
  margin-top: -12px;
  color: #ddd;
}

/* line 86, ../sass/modules/home.scss */
.homerighticon, .homerighttext {
  float: left;
}

/* line 89, ../sass/modules/home.scss */
.homerighttext {
  margin-left: 20px;
  margin-top: -8px;
  width: 350px;
}

/* line 94, ../sass/modules/home.scss */
#assignedhashtag {
  font-weight: bold;
  background-color: #d35400;
  font-size: 30px;
  font-family: 'Crete Round', sans-serif;
}

/*
#changehashtag {
    height:40px;
    width:260px;
    font-size:16px;
    xxborder:2px solid #dadada;
    border:none;
    padding:5px;
}

#changehashtag:focus {
    outline: none;
    box-shadow:inset 0 0 2px 2px #d35400;
}

#savehash {
    background: #d35400;
    border: none;
    height:40px;
    margin-left:-6px;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 7px 28px;
}
#savehash:hover {
    background: #e67e22;
}
*/
/* line 129, ../sass/modules/home.scss */
textarea {
  width: 460px;
  height: 88px;
  border: none;
  font-size: 26px;
  padding: 8px;
  line-height: 1.4em;
}

/* line 137, ../sass/modules/home.scss */
textarea:focus {
  outline: none;
  box-shadow: inset 0 0 2px 2px #d35400;
}

/* line 141, ../sass/modules/home.scss */
.firsttweet {
  width: 440px;
  height: 30px;
  background-color: #eaeaea;
  text-align: center;
  padding: 10px;
  color: #000;
  font-size: 18px;
}

/* line 150, ../sass/modules/home.scss */
.firsttweet:hover {
  background-color: #bdc3c7;
}

/* line 153, ../sass/modules/home.scss */
.firsttweet span {
  margin-top: -20px;
  font-family: gotham, helvetica, sans-serif;
}

/* line 157, ../sass/modules/home.scss */
#homeleft a {
  text-decoration: none;
}

/* line 160, ../sass/modules/home.scss */
#homeleft p {
  margin-bottom: 4px;
}

/* line 163, ../sass/modules/home.scss */
#homeleft h3 {
  font-family: 'Crete Round', sans-serif;
  font-size: 24px;
  margin-top: 0px;
}

/* line 8, ../sass/app.scss */
.l-wrapper {
  background: #333;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 17, ../sass/app.scss */
.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: rgba(0, 0, 0, 0.3);
  color: #eaeaea;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  font-family: 'Crete Round', sans-serif;
  font-weight: 300;
}

/* line 37, ../sass/app.scss */
.header__hashtag {
  padding: 20px;
  font-size: 34px;
  color: rgba(240, 240, 240, 0.9);
}

/* line 43, ../sass/app.scss */
.footer-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.3);
  color: #eaeaea;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.7)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  /* IE6-9 */
  font-family: 'Crete Round', sans-serif;
  font-weight: 300;
}

/* line 63, ../sass/app.scss */
.footer__url {
  padding: 20px;
  font-size: 28px;
  color: rgba(240, 240, 240, 0.5);
}
