<a class="js-queue-open js-playlist-count queue__open queue__count">{{playlistCount}}</a>
<section class="queue" id="avatar__queue" style="right: -60px; width: 0;">
	<nav class="queue__close js-queue-close queue__count js-playlist-count">{{playlistCount}}</nav>
	<ol class="queue__list js-playlist-videos">
	</ol>
</section>