<article class="queue__item" style="background-image: url('https://img.youtube.com/vi/{{youtube_id}}/0.jpg');">
    <header class="queue__item__user-avatar">
        <img src="{{user.profile_image_url}}" height="60px" width="60px">
    </header>
    <p class="queue__item__title">
        {{title}}
    </p>
    <!--
    <div class="queue__item__delete">X</div>
    <div class="queue__item__block">Ø</div>
-->
</article>
