<article class="queue__item" style="background: url('http://img.youtube.com/vi/{{youtube_id}}/0.jpg') no-repeat left top; background-size=cover;">
    <header class="queue__item__user-avatar">
        <img src="{{user.profile_image_url}}" height="60px" width="60px">
    </header>
    <div class="queue__item__title">
        <p>{{title}}</p>
    </div>
    <!--
    <div class="queue__item__delete">X</div>
    <div class="queue__item__block">Ø</div>
-->
</article>
