<a class="js-queue-open js-playlist-count queue__open queue__count">{{playlistCount}}</a>

<section class="queue" style="right: -400px; width: 0;">
    <header class="queue__titlebar">
        <nav class="queue__close js-queue-close">x</nav>
        <h2 class="queue__title">Up Next</h2>
    </header>
    <ol class="queue__list js-playlist-videos">
    </ol>
</section>
