{{playlistCount}}

<section class="simple_queue">
    <header class="queue__titlebar">
        <h2 class="queue__title">Up Next</h2>
    </header>
    <ol class="queue__list js-playlist-videos">
    </ol>
</section>
