<section class="simple_queue">
    <div id="mobilecontrols">
        <div class="mobilenav" id="mobilenavqueue"><h4>Couch</h4></div>
        <a href="mobileweb.html" data-transition="slide"><div class="mobilenav" id="mobilenavhowitworks"><div id="howbutton">how it works</div></div></a>
    </div>
    <div id="mobileheader">
        @AddToCouch #{{hash}}
    </div>
    <ol class="queue__list js-playlist-videos">
    </ol>
</section>
