<!--<div id="queue__added__by">
	<p>Added by:</p>
	<img src="{{user.profile_image_url}}" height="60px" width="60px">
	<h4>@{{user.screen_name}}</h4>
</div>-->
<h1 class="footer__url">
    http://addtocouch.com/remote/{{hash}}
</h1>
